name: zendnn

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  zendnn_build:
    runs-on: zendnn_presub_server
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          clean: true

      - name: build zendnn
        run: | 
          echo "WORKSPACE, $GITHUB_WORKSPACE"
          parent_dir=$(dirname $GITHUB_WORKSPACE)
          echo "parent_dir, $parent_dir"
          mkdir -p ${parent_dir}/BLIS
          export ZENDNN_BLIS_PATH=${parent_dir}/BLIS
          cmake -D_GLIBCXX_USE_CXX11_ABI=1 -DBUILD_SHARED_LIBS=ON -DAMDBLIS_TAG=AOCL-Sep2025-b1 -DAMDBLIS_ENABLE_BLAS=ON -DLPGEMM_V5_0=1 -DFBGEMM_ENABLE=0 -DBLIS_API=1 -DCMAKE_BUILD_TYPE=Release -DFBGEMM_BUILD_TESTS=0 -B build .
          cmake --build build --parallel $(nproc)
        shell: bash

      - name: clean zendnn
        if: always()
        run: | 
          parent_dir=$(dirname $GITHUB_WORKSPACE)
          echo "parent_dir, $parent_dir"
          rm -rf ${parent_dir}/BLIS
          rm -rf ${GITHUB_WORKSPACE}/ZenDNN
        shell: bash
